<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>
        <ul>
            <li><a href="/search"> Search Page </a></li>
            <li>
                <a href="/logout"> Logout </a>
            </li>
        </ul>
    </div>
    <form method="POST" action="/saveingredientComment">
        ingredient:<input type="integer" name="item">
        Comment:<input type="text" name="comment">
        <input type="submit" value="Comment!">
    </form>
    <form method="POST" action="/removeingredientComment">
        Comment id:<input type="integer" name="id">
        <input type="submit" value="Delete!">
    </form>
    <div>
        <h1>{{name}}</h1>
        <img src="https://spoonacular.com/cdn/ingredients_250x250/{{image}}" />
        <p><b>Aisle:</b> {{aisle}}</p>
        <p> <b>Estimated cost:</b> {{estimated_cost["value"]}} {{estimated_cost["unit"]}}%</p>
        <p><b>Caloric breakdown:</b><br>
            Percent protein: {{caloric_breakdown["percentProtein"]}}%<br>
            Percent fat: {{caloric_breakdown["percentFat"]}}%<br>
            Percent carbs: {{caloric_breakdown["percentCarbs"]}}
        </p>
        <p>
            <b>Weight per serving:</b> {{weight_per_serving["amount"]}}{{weight_per_serving["unit"]}}
        </p>
        <p>
            <b>Nutrients:</b><br>
            {% for nutrient in nutrients %}
            {{nutrient["name"]}}: {{nutrient["amount"]}}{{nutrient["unit"]}}<br>
            {% endfor %}
        </p>
        {{ user }}'s Comments:
        {% for row in query %}
        <ul>
            <li>
                comment id: {{ row.id }}<br>
                {{ row.item }}<br>
                {{ row.comment }}<br>
            </li>
        </ul>
        {% endfor %}
    </div>
</body>

</html>