<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>
        <ul>
            <li><a href="/search"> Search Page </a></li>
            <li>
                <a href="/logout"> Logout </a>
            </li>
        </ul>
    </div>
    <form method="POST" action="/saveComment">
        recipe:<input type="integer" name="item">
        Comment:<input type="text" name="comment">
        <input type="submit" value="Comment!">
    </form>
    <form method="POST" action="/removeComment">
        Comment id:<input type="integer" name="id">
        <input type="submit" value="Delete!">
    </form>
    <div>
        <h1>{{title}}</h1>
        <img src="{{image}}" />
        <p>Source: <a href="{{source_url}}">{{source_url}}</a></p>
        <p>Time to prepare: {{ready_in_minutes}} minutes</p>
        <p>Servings : {{servings}}</p>
        <p>Price per serving: ${{price_per_serving/100}}</p>
        <p>Cuisines:
        <ul>
            {% for cuisine in cuisines %}
            <li>{{cuisine}}</li>
            {% endfor %}
        </ul>
        </p>
        <p>Dish Types:
        <ul>
            {% for type in dish_types %}
            <li>{{type}}</li>
            {% endfor %}
        </ul>
        </p>

        <p>Diets: <br>
            {% for diet in diets %}
            • {{diet}}
            {% endfor %}
        </p>
        <p>Dietary Notices: <br>
            <i>{{"Dairy free" if dairy_free else "Not dairy free"}}</i><br>
            <i>{{"Gluten free" if gluten_free else "Not gluten free"}}</i><br>
            <i>{{"Vegan" if vegan else "Not vegan"}}</i><br>
            <i>{{"vegetarian" if vegetarian else "Not vegetarian"}}</i><br>
        </p>
        <p> Ingredients:
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ingredient["original"]}}</li>
            {% endfor %}
        </ul>
        </p>


        <p>Instructions:<br>
            {% for step in analyzed_instructions[0]["steps"] %}
        <p>Step {{step["number"]}}: {{step["step"]}}</p>
        {% endfor %}
        <p>
            {{ user }}'s Comments:
            {% for row in query %}
        <ul>
            <li>
                comment id: {{ row.id }}<br>
                {{ row.item }}<br>
                {{ row.comment }}<br>
            </li>
        </ul>
        {% endfor %}
    </div>
</body>

</html>