<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/login.css" />
</head>

<body>
    <div>
        <h1>Sign up!</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flashes">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/register">
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="password" placeholder="Password" />
            <br /></br>
            <input type="submit" value="Submit" />
        </form>
        <br />
        <a href="/login">Log In</a>
    </div>
</body>

</html>